.brewery-top-section {
  background-color: #c2b175;
  text-align: center;
  padding: 1em;

  .brewery-name {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .brewery-address {
    font-size: 1.2em;
  }
}

// .brewery-name {
//   font-size: 3em;
//   font-family: Verdana, Geneva, Tahoma, sans-serif
// }

// .brewery-address {
//   font-size: 1.2em;
// }