.brewery-tile-container {
  margin: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.brewery-tile {
  height: auto;
  width: auto;
}

.brewery-tile-title {
  height: 3.5em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.brewery-tile-photo {
  height: 12em;
  width: 100%;
  display: flex;
  object-fit: cover;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}