.brewery-top-section {
  background-image: url("https://www.bigoysterbrewery.com/images/flic/galleries/9/original/29_big-oyster-bar.jpg");
  background-size: cover;
  opacity: 90%;
}

.brewery-top-section-box {
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
}