.sign-up-form {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.sign-in-form {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.forgot-password-form {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

