.review-header {
  text-align: center;
}

.new-review-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.review-button-clear {
  height: 3em;
  width: 6em;
  margin-right: 1em;
  background-color: #F7A072;
  border-radius: 0.5em;
}

.review-button-submit {
  height: 3em;
  width: 6em;
  margin-left: 1em;
  background-color: #1C6E8C;
  border-radius: 0.5em;
}

.error-list .callout div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20em;
  list-style-type: none;
}

.new-review-dropdown {

  margin-top: 2em;
  margin-bottom: 2em;

  body { background-color: #ededed; font-family:Arial, Helvetica, sans-serif;}

  h1 {padding: 40px; text-align: center; font-size: 1.5em;}

  .new-review-form {text-decoration : none; color : #2d2f31;}

  .review-form-div div {
    width : 20em; 
    height: auto;
    margin : auto; 
    border-radius: 1em;
    background: #d9d9d9;
  }

  span {
    width : 20em;
    margin: auto;
    text-align: center;
    padding : 10px;
    background : #605856; 
    color : white;
    font-size : 1.2em;
    cursor : pointer;
    display: block;
    border-radius: 1em;
  }

  span::after {
    float: right;
    right: 10%;
    content: "+";
  }

  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow:hidden;
    text-align: center;
    transition: height .4s ease;
  }

  .slide li {padding : 30px;}

  #touch {position: absolute; opacity: 0; height: 0px;}    

  #touch:checked + .slide {height: 300px;   margin-bottom: 2em;} 

}