.review-accordion {

  max-width: 350px;
  margin-left: auto;
  margin-right: auto;

  span {
    font-size: 1.75em;
    padding-right: 3px;
    float: right;
    padding-bottom: 3px;
  }

  .accordion-item {
    list-style: none;
    border-radius: 0.5em;
    background-color: #605856;
    h4, span{
      color: #F9F7F3;
    }
  }
  .accordion-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1em;
    width: 350px;
  }
  .accordion-toggle:hover {
    background-color: #EDDEA4;
    border-radius: 0.5em;
    transition: .5s ease;
    h4, span{
      color: #000000;
      transition: .5s ease;
    }
  }
  .accordion-toggle h4 {
    margin: auto;
  }
  .accordion-review-form {
    text-align: center;
  }
}